body {
  background-color: #121212;
  // font-family: Ginger-regular;
  color: ghostwhite;
}

.header {
  // font-family: Ginger-regular;
  font-size: 5rem;
  text-transform: uppercase;
}

// LIGHT MODE

// DARK MODE